<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- post list -->
    <section id="posts">
        <!-- post item -->
        <template id="my-template">
            <link rel="stylesheet" href="./style.css">
            <article>
                <h2 id="title">Title</h2>
                <p id="content">Content</p>
            </article>
        </template>
        <!-- post item end -->
    </section>
    <!-- post list end -->
</body>
<script src="./app.js"></script>
</html>